.heading{
  background-color: grey;
  text-align: center;
  margin: 0% 0%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.divi_style{
  margin: auto;
width: 60%;
border: 5px solid grey;
padding: 10px;
text-align: center;
}